<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>

<div >
  <%= render "form", bookmark: @bookmark %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>url</th>
      <th>Categories</th>
      <th>Kinds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="bookmarks-list">
    <%= render @bookmarks %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark', new_bookmark_path %>
